.LocationDetails{
    /* align-self: center;
    align-items: center;
    align-content: center;
    margin-left: 500px; */
    margin-top: 700px;
}
.LDHeading{
    color:white;
    margin-top: 25px;
}
.cardStyle{
    margin-left: 10px;
}
.roww{
 display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto;
  margin-left: 400px;
  gap: 0px;
  padding: 5px;
} 
.left{
    color: white;
}